
body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
}

img { border: none; width: 80px;}
.info{color: red; font-weight: bold}

#wrap {
margin: 0 auto;
width: 100%;
}

#header {
padding: 10px 0 20px 0;
border-bottom:1px solid #bbb000;
}

#header h1 {
font-size: 26px;
padding: 0px 20px 0px 20px;
} 

#header h2 {
font-size: 20px;
padding: 0px 20px 0px 20px;
}

#catalogue {
  overflow: hidden;
  width: 80%;
  float: left;
  text-align: justify;
}

#catalogue h1{
font-size: 18px;
}

#catalogue table{
border-collapse: collapse
}

#cartholder {
position: relative;
width: 19%;
float: right;
padding: 0 0 0 1px;
border-left: 1px #000bbb;
font-size: 12px;
}
#cart {
position: relative;
width: 100%;
float: right;
border-left: 1px solid #000bbb;
font-size: 12px;
}
#cartfoot {
position: relative;
width: 100%;
float: right;
border-left: 1px solid #000bbb;
font-size: 12px;
}
#orderview {
width: 100%;
float: right;
border-left: 1px solid #000bbb;
font-size: 12px;
}
#cart h2 {
height: 30px;
font-size: 14px;
color: #666;
line-height: 30px;
font-weight: 600;
}